In [1]:
import sqlite3
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
us_file = os.path.join("Data_source", "fire_count_us.csv")
br_file = os.path.join("Data_source", "fire_count_brazil.csv")
temp_file = os.path.join("Data_source", "MaxTemperature.csv")
c02_file = os.path.join("Data_source", "CleanEmissionData.csv")
oil_file = os.path.join("Data_source", "global_oil_production.csv")

In [3]:
us_df = pd.read_csv(us_file, encoding="ISO-8859-1")
br_df = pd.read_csv(br_file, encoding="ISO-8859-1")
temp_df = pd.read_csv(temp_file, encoding="ISO-8859-1")
c02_df = pd.read_csv(c02_file, encoding="ISO-8859-1")
oil_df = pd.read_csv(oil_file, encoding="ISO-8859-1")

In [4]:
us_df = us_df.rename(columns={"Date":"Year"})
br_df = br_df.rename(columns={"Date":"Year"})
oil_df = oil_df.rename(columns={"year":"Year"})

In [5]:
merge_1 = us_df.merge(br_df, on='Year', how='left')
merge_1.head()

   Year  Number of Fires_x  Number of Fires_y
0  2000             630036             101530
1  2001             515265             145484
2  2002             515327             321416
3  2003             381596             341239
4  2004             468610             380446

In [6]:
merge_2 = merge_1.merge(oil_df, on='Year', how='left')
merge_2.head()

   Year  Number of Fires_x  Number of Fires_y  production   change
0  2000             630036             101530    68343.04   3.71 %
1  2001             515265             145484    67921.63  -0.62 %
2  2002             515327             321416    67050.84  -1.28 %
3  2003             381596             341239    69189.99   3.19 %
4  2004             468610             380446    72249.60   4.42 %

In [7]:
merge_3 = merge_2.merge(temp_df, on='Year', how='left')
merge_3

,Year,Number of Fires_x,Number of Fires_y,production,change,US Max Annual Temperature,Brazil Max Annual Temperature
0,2000,630036,101530,68343.04,3.71 %,21.605,26.393
1,2001,515265,145484,67921.63,-0.62 %,21.907,26.507
2,2002,515327,321416,67050.84,-1.28 %,22.675,26.956
3,2003,381596,341239,69189.99,3.19 %,22.499,26.540
4,2004,468610,380446,72249.60,4.42 %,21.663,26.486
5,2005,408065,362566,73516.23,1.75 %,22.478,26.794
6,2006,669091,249184,73099.73,-0.57 %,22.911,26.301
7,2007,563505,393915,72698.83,-0.55 %,22.352,26.689
8,2008,515701,211933,73583.73,1.22 %,21.690,26.678
9,2009,571906,155104,72385.33,-1.63 %,21.463,27.151
10,2010,424966,319386,74166.13,2.46 %,22.078,26.802
11,2011,482359,158102,74281.63,0.16 %,22.722,26.373
12,2012,389901,217238,76047.63,2.38 %,23.008,27.120
13,2013,2512461,128149,75996.83,-0.07 %,22.074,26.239

In [8]:
merge_4 = merge_3.merge(c02_df, on='Year', how='left')
merge_4

,Year,Number of Fires_x,Number of Fires_y,production,change,US Max Annual Temperature,Brazil Max Annual Temperature,Brazil_Tonnes,United States
0,2000,630036,101530,68343.04,3.71 %,21.605,26.393,7.321404e+09,3.020000e+11
1,2001,515265,145484,67921.63,-0.62 %,21.907,26.507,7.654391e+09,3.080000e+11
2,2002,515327,321416,67050.84,-1.28 %,22.675,26.956,7.981826e+09,3.140000e+11
3,2003,381596,341239,69189.99,3.19 %,22.499,26.540,8.299335e+09,3.200000e+11
4,2004,468610,380446,72249.60,4.42 %,21.663,26.486,8.633010e+09,3.260000e+11
5,2005,408065,362566,73516.23,1.75 %,22.478,26.794,8.975096e+09,3.320000e+11
6,2006,669091,249184,73099.73,-0.57 %,22.911,26.301,9.317043e+09,3.380000e+11
7,2007,563505,393915,72698.83,-0.55 %,22.352,26.689,9.673961e+09,3.440000e+11
8,2008,515701,211933,73583.73,1.22 %,21.690,26.678,1.005431e+10,3.500000e+11
9,2009,571906,155104,72385.33,-1.63 %,21.463,27.151,1.041440e+10,3.560000e+11
10,2010,424966,319386,74166.13,2.46 %,22.078,26.802,1.082564e+10,3.610000e+11
11,2011,482359,158102,74281.63,0.16 %,22.722,26.373,1.125583e+10,3.670000e+11
12,2012,389901,217238,76047.63,2.38 %,23.008,27.120,1.171590e+10,3.720000e+11
13,2013,2512461,128149,75996.83,-0.07 %,22.074,26.239,1.220949e+10,3.780000e+11

In [14]:
summary_df = merge_4.rename(columns={"Number of Fires_x": "US Wildfire Count", "Number of Fires_y": "Brazil Wildfire Count", "production":"Worldwide Oil Production", "change":"Oil Year Variance", "US Max Annual Temperature":"US Max Annual Temp (C)", "Brazil Max Annual Temperature":"Brazil Max Annual Temp (C)", "Brazil_Tonnes":"Brazil C02 Emissions (Ton)","United States": "US C02 Emissions (Ton)"})
summary_df

,Year,US Wildfire Count,Brazil Wildfire Count,Worldwide Oil Production,Oil Year Variance,US Max Annual Temp (C),Brazil Max Annual Temp (C),Brazil C02 Emissions (Ton),US C02 Emissions (Ton)
0,2000,630036,101530,68343.04,3.71 %,21.605,26.393,7.321404e+09,3.020000e+11
1,2001,515265,145484,67921.63,-0.62 %,21.907,26.507,7.654391e+09,3.080000e+11
2,2002,515327,321416,67050.84,-1.28 %,22.675,26.956,7.981826e+09,3.140000e+11
3,2003,381596,341239,69189.99,3.19 %,22.499,26.540,8.299335e+09,3.200000e+11
4,2004,468610,380446,72249.60,4.42 %,21.663,26.486,8.633010e+09,3.260000e+11
5,2005,408065,362566,73516.23,1.75 %,22.478,26.794,8.975096e+09,3.320000e+11
6,2006,669091,249184,73099.73,-0.57 %,22.911,26.301,9.317043e+09,3.380000e+11
7,2007,563505,393915,72698.83,-0.55 %,22.352,26.689,9.673961e+09,3.440000e+11
8,2008,515701,211933,73583.73,1.22 %,21.690,26.678,1.005431e+10,3.500000e+11
9,2009,571906,155104,72385.33,-1.63 %,21.463,27.151,1.041440e+10,3.560000e+11
10,2010,424966,319386,74166.13,2.46 %,22.078,26.802,1.082564e+10,3.610000e+11
11,2011,482359,158102,74281.63,0.16 %,22.722,26.373,1.125583e+10,3.670000e+11
12,2012,389901,217238,76047.63,2.38 %,23.008,27.120,1.171590e+10,3.720000e+11
13,2013,2512461,128149,75996.83,-0.07 %,22.074,26.239,1.220949e+10,3.780000e+11

In [10]:
conn = sqlite3.connect('etl_climate.db')
c = conn.cursor()

In [19]:
c.execute('CREATE TABLE Metrics (Year, USWildfireCount, BrazilWildfireCount, WorldwideOilProduction, OilYearVariance, USMaxAnnualTemp, BrazilMaxAnnualTemp, BrazilC02Emission, USC02Emissions)')
conn.commit()

In [ ]:
engine = create_engine('sqlite://', echo=False)

In [ ]:
summary_df.to_sql('climate_metrics', con=engine)

In [ ]:
engine.execute("SELECT * FROM climate_metrics").fetchall()

In [ ]:


conn = sqlite3.connect('climate_metrics.db')  # You can create a new database by changing the name within the quotes
c = conn.cursor() # The database will be saved in the location where your 'py' file is saved

# Create table - CLIENTS
c.execute('''CREATE TABLE CLIENTS
             ([generated_id] INTEGER PRIMARY KEY,[Client_Name] text, [Country_ID] integer, [Date] date)''')
          
# Create table - COUNTRY
c.execute('''CREATE TABLE COUNTRY
             ([generated_id] INTEGER PRIMARY KEY,[Country_ID] integer, [Country_Name] text)''')
        
# Create table - DAILY_STATUS
c.execute('''CREATE TABLE DAILY_STATUS
             ([Client_Name] text, [Country_Name] text, [Date] date)''')
                 
conn.commit()

# Note that the syntax to create new tables should only be used once in the code (unless you dropped the table/s at the end of the code). 
# The [generated_id] column is used to set an auto-increment ID for each record
# When creating a new table, you can add both the field names as well as the field formats (e.g., Text)