In [1]:
import sqlite3
import pandas as pd
import os

In [2]:
us_file = os.path.join("Data_source", "fire_count_us.csv")
br_file = os.path.join("Data_source", "fire_count_brazil.csv")
temp_file = os.path.join("Data_source", "MaxTemperature.csv")
c02_file = os.path.join("Data_source", "CleanEmissionData.csv")
oil_file = os.path.join("Data_source", "global_oil_production.csv")

In [3]:
us_df = pd.read_csv(us_file, encoding="ISO-8859-1")
br_df = pd.read_csv(br_file, encoding="ISO-8859-1")
temp_df = pd.read_csv(temp_file, encoding="ISO-8859-1")
c02_df = pd.read_csv(c02_file, encoding="ISO-8859-1")
oil_df = pd.read_csv(oil_file, encoding="ISO-8859-1")

In [4]:
us_df = us_df.rename(columns={"Date":"Year"})
br_df = br_df.rename(columns={"Date":"Year"})
oil_df = oil_df.rename(columns={"year":"Year"})

In [18]:
merge_1 = us_df.merge(br_df, on='Year', how='left')

In [25]:
merge_12 = merge_1.merge(oil_df, on='Year', how='left')

In [71]:
merge_12

    Year  Number of Fires_x  Number of Fires_y  production   change
0   2000             630036             101530    68343.04   3.71 %
1   2001             515265             145484    67921.63  -0.62 %
2   2002             515327             321416    67050.84  -1.28 %
3   2003             381596             341239    69189.99   3.19 %
4   2004             468610             380446    72249.60   4.42 %
5   2005             408065             362566    73516.23   1.75 %
6   2006             669091             249184    73099.73  -0.57 %
7   2007             563505             393915    72698.83  -0.55 %
8   2008             515701             211933    73583.73   1.22 %
9   2009             571906             155104    72385.33  -1.63 %
10  2010             424966             319386    74166.13   2.46 %
11  2011             482359             158102    74281.63   0.16 %
12  2012             389901             217238    76047.63   2.38 %
13  2013            2512461             128149    75996.83  -0.07 %

In [63]:
merge_13 = c02_df.merge(temp_df, on=['Year', 'Country'], how='left')
merge_13

          Country  Year        Tonnes  Max Annual Temperature C
0          Brazil  2000  7.321404e+09                    26.393
1          Brazil  2001  7.654391e+09                    26.507
2          Brazil  2002  7.981826e+09                    26.956
3          Brazil  2003  8.299335e+09                    26.540
4          Brazil  2004  8.633010e+09                    26.486
5          Brazil  2005  8.975096e+09                    26.794
6          Brazil  2006  9.317043e+09                    26.301
7          Brazil  2007  9.673961e+09                    26.689
8          Brazil  2008  1.005431e+10                    26.678
9          Brazil  2009  1.041440e+10                    27.151
10         Brazil  2010  1.082564e+10                    26.802
11         Brazil  2011  1.125583e+10                    26.373
12         Brazil  2012  1.171590e+10                    27.120
13         Brazil  2013  1.220949e+10                    26.239
14  United States  2000  3.020000e+11                    21.605
15  United States  2001  3.080000e+11                    21.907
16  United States  2002  3.140000e+11                    22.675
17  United States  2003  3.200000e+11                    22.499
18  United States  2004  3.260000e+11                    21.663
19  United States  2005  3.320000e+11                    22.478
20  United States  2006  3.380000e+11                    22.911
21  United States  2007  3.440000e+11                    22.352
22  United States  2008  3.500000e+11                    21.690
23  United States  2009  3.560000e+11                    21.463
24  United States  2010  3.610000e+11                    22.078
25  United States  2011  3.670000e+11                    22.722
26  United States  2012  3.720000e+11                    23.008
27  United States  2013  3.780000e+11                    22.074

In [62]:
summary_df = merge_12.merge(merge_13, on='Year', how='left')
summary_df

,Year,Number of Fires_x,Number of Fires_y,production,change,Country,Tonnes,Max Annual Temperature C
0,2000,630036,101530,68343.04,3.71 %,Brazil,7.321404e+09,26.393
1,2000,630036,101530,68343.04,3.71 %,United States,3.020000e+11,21.605
2,2001,515265,145484,67921.63,-0.62 %,Brazil,7.654391e+09,26.507
3,2001,515265,145484,67921.63,-0.62 %,United States,3.080000e+11,21.907
4,2002,515327,321416,67050.84,-1.28 %,Brazil,7.981826e+09,26.956
5,2002,515327,321416,67050.84,-1.28 %,United States,3.140000e+11,22.675
6,2003,381596,341239,69189.99,3.19 %,Brazil,8.299335e+09,26.540
7,2003,381596,341239,69189.99,3.19 %,United States,3.200000e+11,22.499
8,2004,468610,380446,72249.60,4.42 %,Brazil,8.633010e+09,26.486
9,2004,468610,380446,72249.60,4.42 %,United States,3.260000e+11,21.663
10,2005,408065,362566,73516.23,1.75 %,Brazil,8.975096e+09,26.794
11,2005,408065,362566,73516.23,1.75 %,United States,3.320000e+11,22.478
12,2006,669091,249184,73099.73,-0.57 %,Brazil,9.317043e+09,26.301
13,2006,669091,249184,73099.73,-0.57 %,United States,3.380000e+11,22.911
14,2007,563505,393915,72698.83,-0.55 %,Brazil,9.673961e+09,26.689
15,2007,563505,393915,72698.83,-0.55 %,United States,3.440000e+11,22.352
16,2008,515701,211933,73583.73,1.22 %,Brazil,1.005431e+10,26.678
17,2008,515701,211933,73583.73,1.22 %,United States,3.500000e+11,21.690
18,2009,571906,155104,72385.33,-1.63 %,Brazil,1.041440e+10,27.151
19,2009,571906,155104,72385.33,-1.63 %,United States,3.560000e+11,21.463
20,2010,424966,319386,74166.13,2.46 %,Brazil,1.082564e+10,26.802
21,2010,424966,319386,74166.13,2.46 %,United States,3.610000e+11,22.078
22,2011,482359,158102,74281.63,0.16 %,Brazil,1.125583e+10,26.373
23,2011,482359,158102,74281.63,0.16 %,United States,3.670000e+11,22.722
24,2012,389901,217238,76047.63,2.38 %,Brazil,1.171590e+10,27.120
25,2012,389901,217238,76047.63,2.38 %,United States,3.720000e+11,23.008
26,2013,2512461,128149,75996.83,-0.07 %,Brazil,1.220949e+10,26.239
27,2013,2512461,128149,75996.83,-0.07 %,United States,3.780000e+11,22.074

In [11]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [ ]:
us_df.to_sql('us_fire', con=engine)
engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

In [ ]:


conn = sqlite3.connect('climate_metrics.db')  # You can create a new database by changing the name within the quotes
c = conn.cursor() # The database will be saved in the location where your 'py' file is saved

# Create table - CLIENTS
c.execute('''CREATE TABLE CLIENTS
             ([generated_id] INTEGER PRIMARY KEY,[Client_Name] text, [Country_ID] integer, [Date] date)''')
          
# Create table - COUNTRY
c.execute('''CREATE TABLE COUNTRY
             ([generated_id] INTEGER PRIMARY KEY,[Country_ID] integer, [Country_Name] text)''')
        
# Create table - DAILY_STATUS
c.execute('''CREATE TABLE DAILY_STATUS
             ([Client_Name] text, [Country_Name] text, [Date] date)''')
                 
conn.commit()

# Note that the syntax to create new tables should only be used once in the code (unless you dropped the table/s at the end of the code). 
# The [generated_id] column is used to set an auto-increment ID for each record
# When creating a new table, you can add both the field names as well as the field formats (e.g., Text)