In [72]:
import sqlite3
import pandas as pd
import os

In [73]:
us_file = os.path.join("Data_source", "fire_count_us.csv")
br_file = os.path.join("Data_source", "fire_count_brazil.csv")
temp_file = os.path.join("Data_source", "MaxTemperature.csv")
c02_file = os.path.join("Data_source", "CleanEmissionData.csv")
oil_file = os.path.join("Data_source", "global_oil_production.csv")

In [74]:
us_df = pd.read_csv(us_file, encoding="ISO-8859-1")
br_df = pd.read_csv(br_file, encoding="ISO-8859-1")
temp_df = pd.read_csv(temp_file, encoding="ISO-8859-1")
c02_df = pd.read_csv(c02_file, encoding="ISO-8859-1")
oil_df = pd.read_csv(oil_file, encoding="ISO-8859-1")

In [75]:
us_df = us_df.rename(columns={"Date":"Year"})
br_df = br_df.rename(columns={"Date":"Year"})
oil_df = oil_df.rename(columns={"year":"Year"})

In [81]:
merge_1 = us_df.merge(br_df, on='Year', how='left')
merge_1.head()

   Year  Number of Fires_x  Number of Fires_y
0  2000             630036             101530
1  2001             515265             145484
2  2002             515327             321416
3  2003             381596             341239
4  2004             468610             380446

In [82]:
merge_2 = merge_1.merge(oil_df, on='Year', how='left')
merge_2.head()

   Year  Number of Fires_x  Number of Fires_y  production   change
0  2000             630036             101530    68343.04   3.71 %
1  2001             515265             145484    67921.63  -0.62 %
2  2002             515327             321416    67050.84  -1.28 %
3  2003             381596             341239    69189.99   3.19 %
4  2004             468610             380446    72249.60   4.42 %

In [84]:
merge_3 = merge_2.merge(temp_df, on='Year', how='left')
merge_3

,Year,Number of Fires_x,Number of Fires_y,production,change,US Max Annual Temperature,Brazil Max Annual Temperature
0,2000,630036,101530,68343.04,3.71 %,21.605,26.393
1,2001,515265,145484,67921.63,-0.62 %,21.907,26.507
2,2002,515327,321416,67050.84,-1.28 %,22.675,26.956
3,2003,381596,341239,69189.99,3.19 %,22.499,26.540
4,2004,468610,380446,72249.60,4.42 %,21.663,26.486
5,2005,408065,362566,73516.23,1.75 %,22.478,26.794
6,2006,669091,249184,73099.73,-0.57 %,22.911,26.301
7,2007,563505,393915,72698.83,-0.55 %,22.352,26.689
8,2008,515701,211933,73583.73,1.22 %,21.690,26.678
9,2009,571906,155104,72385.33,-1.63 %,21.463,27.151
10,2010,424966,319386,74166.13,2.46 %,22.078,26.802
11,2011,482359,158102,74281.63,0.16 %,22.722,26.373
12,2012,389901,217238,76047.63,2.38 %,23.008,27.120
13,2013,2512461,128149,75996.83,-0.07 %,22.074,26.239

In [77]:
merge_4 = merge_3.merge(temp_df, on='Year', how='left')
merge_4

In [11]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [ ]:
us_df.to_sql('us_fire', con=engine)
engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

In [ ]:


conn = sqlite3.connect('climate_metrics.db')  # You can create a new database by changing the name within the quotes
c = conn.cursor() # The database will be saved in the location where your 'py' file is saved

# Create table - CLIENTS
c.execute('''CREATE TABLE CLIENTS
             ([generated_id] INTEGER PRIMARY KEY,[Client_Name] text, [Country_ID] integer, [Date] date)''')
          
# Create table - COUNTRY
c.execute('''CREATE TABLE COUNTRY
             ([generated_id] INTEGER PRIMARY KEY,[Country_ID] integer, [Country_Name] text)''')
        
# Create table - DAILY_STATUS
c.execute('''CREATE TABLE DAILY_STATUS
             ([Client_Name] text, [Country_Name] text, [Date] date)''')
                 
conn.commit()

# Note that the syntax to create new tables should only be used once in the code (unless you dropped the table/s at the end of the code). 
# The [generated_id] column is used to set an auto-increment ID for each record
# When creating a new table, you can add both the field names as well as the field formats (e.g., Text)